/* Nav Bar CSS */
nav {
    font-family: garamond;
    font-size: 20px;
    background-color: white;
}
.navbar-brand {
    font-family: garamond;
    font-size: 30px;
}

/* Header CSS */



/* Section CSS */
.col-sm-1 {
    background-color:OrangeRed;
    border: solid;
}

.col-sm-2 {
    background-color:SteelBlue  ;
    border: solid;
}

.col-sm-3 {
    background-color: magenta ;
    border: solid;
}

.col-sm-4 {
    background-color: goldenrod ;
    border: solid;
}

.col-sm-5 {
    background-color:blue;
    border: solid;
}

.col-sm-6 {
    background-color: LightSalmon ;
    border: solid;
}

.col-sm-7 {
    background-color: yellow;
    border: solid;
}

.col-sm-8 {
    background-color:LightSeaGreen ;
    border: solid;
}

.col-sm-9 {
    background-color:honeydew;
    border: solid;
}

.col-sm-10 {
    background-color:brown;
    border: solid;
}

.col-sm-11 {
    background-color:white;
    border: solid;
}

.col-sm-12 {
    background-color:pink;
    border: solid;
}


/* About Section CSS */
#profile-back {
    background-image: url("../images/background.jpg") ;
}
#profile_background {
    text-align: center;
}
#profile_picture {
   border-radius: 300px; 
   border: solid white 10px;
}
#about {
    margin: auto;
    display: block;
}
#about p {
    font-family: tahoma;
}
#about h3 {
    font-family: impact;
    text-align: center;
}


/* Portfolio Item CSS */
#project-title h1 {
    text-align: center;
    font-family: impact;
    font-size: 60px;
}


.img-thumbnail {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    
}
.caption {
    text-align: center;
}
.caption h3 {
    font-family: impact;
}
.caption p {
    font-family: tahoma;
}
/* Footer CSS */



/* Button CSS */

